@import "frappe/public/scss/desk/variables";
//@import "./business_theme";
@import "./sidebar/_sidebar-base";

$border-radius: 2px;
$border-radius-sm: 4px;
$border-radius-lg: 8px;

.number-widget-box{
    border-width: 0px;
    border-bottom: transparent solid 4px;
    border-color: #f7b924!important;
    border-radius: 0;
    box-shadow: 0 0.46875rem 2.1875rem rgb(63 106 216 / 3%), 0 0.9375rem 1.40625rem rgb(63 106 216 / 3%), 0 0.25rem 0.53125rem rgb(63 106 216 / 5%), 0 0.125rem 0.1875rem rgb(63 106 216 / 3%);
}
.dashboard-widget-box{
    box-shadow: 0 0.46875rem 2.1875rem rgb(63 106 216 / 3%), 0 0.9375rem 1.40625rem rgb(63 106 216 / 3%), 0 0.25rem 0.53125rem rgb(63 106 216 / 5%), 0 0.125rem 0.1875rem rgb(63 106 216 / 3%);
   
} 
.navbar {
    height: 60px;
    background: #4c2b2b !important;
    box-shadow: var(--shadow-sm);
    padding: 0;
}
.search-bar {
	flex: 1;
	max-width: 700px;
} 
.quik-add{

    .list-inline {
        white-space: nowrap;
    }
    .list-unstyled{

        .header {
        color: #999;
        font-size: 12px;
        transform: uppercase;
        padding: 20px 15px 12px;
    }
    a {
        display: block;
        padding: 7px 18px;
        color: #777;
        white-space: nowrap;
    }
 
}

}
.dropdown-quik-add > a > span >.icon {
   
    fill: white !important;
    stroke: #fff !important;
} 
.dropdown-quik-add{
    a.btn{
        background-color: $primary;
        fill:#f80000 ;
        stroke:#ff0000 ;
    } 
} 
header{
    .container{
        margin: 0px;
       padding: 0px;
       width: 100% !important;
       max-width: 100% !important;
    } 

    .app-logo{
        margin-left: 20px;
    }  
} 